<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="2.0.1" targetFramework="net452" developmentDependency="true" />
  <package id="MugenMvvmToolkit" version="6.0.0" targetFramework="net452" />
  <package id="MugenMvvmToolkit.AutofacContainer" version="6.0.0" targetFramework="net452" />
  <package id="MugenMvvmToolkit.WinForms" version="6.0.0" targetFramework="net452" />
</packages>